@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Montserrat');

.body{
  background-color: #656565;
  margin-top: 5%;
  margin-bottom: auto;
}

.wrapper{
  max-width: 100%;
  border: 1px groove #666666;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-left: 10%;
  margin-right: 10%;
}

.contenido{
  background-color: #f0f0f0;
  padding: 2% 2% 2% 2%;
  font-family: 'Montserrat', sans-serif;

}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: inherit;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

button {
  padding: 6px 12px;
  width: 100px;
  margin: 0px;
  margin-left: 40%;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

button:hover {
  background-color: #ddd;
  border-color: #aaa;
}


.butt {
  padding: 6px 12px;
  width: 100px;
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}



.footer{
  max-width: 100%;
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
}

.logo-container{
  padding: 2% 2% 2% 2%;
}

.logos{
  display: inline-block;
  margin-left: 2%;
  margin-right: 4%
}


.logos_uba{
  display: inline-block;
  margin-left: 8%;
}

.logos_cer{
  display: inline-block;
  margin-left: 2%;
}
