/*
 * CSS for jsPsych experiments.
 *
 * This stylesheet provides minimal styling to make jsPsych
 * experiments look polished without any additional styles.
 */

 /* Container holding jsPsych content */

.body{
  background-color: #656565;
}
 .jspsych-display-element {
   display: flex;
   flex-direction: column;
   /*justify-content: center;
   align-items: center;*/
   /*height: 100%;
   width: 100%;*/
 }

 .jspsych-display-element:focus {
   outline: none;
 }

 .jspsych-content-wrapper {
   display: flex;
   /*justify-content: center;
   align-items: center;*/
   margin: auto; /* this does the same thing as above two lines in this case */
   flex: 1 1 100%;
   width: 100%;
   background-color:#656565;
 }

 .jspsych-content {
   min-height: 75%;
   overflow: auto;
   width: 60%; /* this is mainly an IE 10-11 fix */
   height: 75%;
   text-align: center;
   /*margin: auto; /* this is for overflowing content */
   margin-top: 5%;
   margin-left: 25%;
   margin-right: 25%;
   margin-bottom: 5%;
   background-color: #f0f0f0;
   border: 1px groove #666666;
   border-radius: 4px;
   padding: 0px 20px 20px 20px;

 }

 .jspsych-top {
   align-items: flex-start;

 }

 .jspsych-middle {
   align-items: center;
 }
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Montserrat');

.jspsych-survey-multi-choice-option{
  font-size: 16px;
  font-family: 'Bree Serif', serif;
}

/* fonts and type */


.jspsych-display-element {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}

/* Form elements like input fields and buttons */

input[type="text"] {
font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

/* borrowing Bootstrap style for btn elements, but combining styles a bit */
.jspsych-btn {
  padding: 6px 12px;
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.jspsych-btn-next {
  position: fixed;
  padding: 6px 12px;
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  left: 70%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.jspsych-btn-back {
  position: fixed;
  padding: 6px 12px;
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  left: 30%;
  top: 60%;
  transform: translate(-50%, -50%);
}




.jspsych-btn-preg {
  position: fixed;
  padding: 6px 12px;
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  left: 85%;
  top: 85%;
  transform: translate(-85%, -85%);
}


.jspsych-btn:hover {
  background-color: #ddd;
  border-color: #aaa;
}

.jspsych-btn:disabled {
  background-color: #eee;
  color: #aaa;
  border-color: #ccc;
  cursor: not-allowed;
}

/* jsPsych progress bar */

#jspsych-progressbar-container {
  color: #555;
  border-bottom: 1px solid #dedede;
  background-color: #f9f9f9;
  text-align: center;
  padding: 8px 0px 16px;
  width: 100%;
  line-height: 1em;
}
#jspsych-progressbar-container span {
  font-size: 14px;
  padding-right: 14px;
}
#jspsych-progressbar-outer {
  background-color: #eee;
  width: 50%;
  margin: auto;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
#jspsych-progressbar-inner {
  background-color: #aaa;
  width: 0%;
  height: 100%;
}

/* Control appearance of jsPsych.data.displayData() */
#jspsych-data-display {
  text-align: left;
}


/*Timer */

.timerTxtHid{
  visibility: hidden;
  padding-left:12px;
}

.timerTxtShow{
  padding-left:12px;
}
